# 阿里云 DashScope API Key
# 获取地址：https://help.aliyun.com/zh/model-studio/get-api-key
DASHSCOPE_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx

# WebSocket 地址（可选，默认为北京地域）
# DASHSCOPE_WS_URL=wss://dashscope.aliyuncs.com/api-ws/v1/realtime

# 新加坡地域：
# DASHSCOPE_WS_URL=wss://dashscope-intl.aliyuncs.com/api-ws/v1/realtime
